<%= form_with scope: :product, url: products_path, local: true do |form| %>
  <p>
    <%= form.label :Product_name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
