<h1>Listing Product</h1>

<%= link_to 'My Products', controller: 'products' %>
<%= link_to 'New Product', new_product_path %>
<table>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th></th>
  </tr>

  <% @product.each do |product| %>
    <tr>
      <td><%= product.name%></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
    </tr>
  <% end %>
</table>
